nav a.button-collapse, nav a.button-collapse i {
  height: 43px;
  width: 43px;
  line-height: 43px;
  font-weight: 500;
}

.subtitle {
  position: relative;
  text-transform: lowercase;
  font-family: Raleway, Arial, Halvetica, sans-serif;
  font-weight: 550;
  font-size: 1.25rem;
  display: block;
  margin: 0;
}

.title {
  position: relative !important;
  text-transform: lowercase;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 3rem;
  color: #2A3A3F;
  display: block;
  margin: 0;
}

.title:after {
  position: absolute;
  bottom: 0;
  left: 5%;
  content: "";
  height: 2px;
  width: 90%;
  opacity: 0.4;
  background-color: #757575;
}

@media only screen and (max-width: 600px) {
  .content {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 600px) {
  .content {
    padding-left: 15px;
    padding-right: 15px;
    }
}

@media only screen and (min-width: 992px) {
  .content {
    padding-left: 325px;
    }
}
