@media only screen and (max-width: 600px) {
  .content {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 600px) {
  .content {
    padding-left: 15px;
    padding-right: 15px;
    }
}

@media only screen and (min-width: 992px) {
  .content {
    padding-left: 350px;
    }
}
